.container { height: inherit;}

.header{ display: flex; flex:1; flex-direction: row; background-color: #f1f1f1; align-items: center; justify-content: space-between; height: 50px; width: 100%;}
.headerRight ul, .headerLeft ul { display: flex; list-style-type: none; margin:0; padding:0;}
.headerRight ul li{ border-right: 1px solid#9c9494; display: flex; margin-right: 8px; padding-left:8px; padding-right: 8px; } 
.headerRight ul li:last-child{ border-right: none; margin-right: 0; } 
.headerLeft {padding:8px 16px; display: flex; flex:0  0 auto; margin-left: 33px;}
.headerLeft a { padding-right: 10px; }
.headerRight a, .headerLeft a{ text-decoration: none;padding: 0; line-height: 25px; font-size: 18px; color: black;}
.headerLeft li { display: flex;align-items: center; padding-right: 10px;}
.headerTabname{ padding-left: 10px; border-left: 1px solid#9c9494;}
.headerRight {padding:8px 16px; display: flex; flex:1 1 auto; align-items: center; justify-content: flex-end;}


@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  .headerRight ul{
    padding: 0px;
    display: flex;
  }

  .headerRight ul li{
    border-right: none; 
  } 
}

