.booksBlock{ display: flex; flex-direction:row; flex-wrap:wrap;
    justify-content: flex-start;
    margin: 0 auto;
    /* width: calc(100% - 15%); */
}
.bookBlockShowmore { justify-content: center;}
.bookBlockShowmore span { cursor: pointer;}
.bookBlockWrapper { margin: 24px; width: calc(20% - 48px); display: flex; flex-direction: column;}
.bookBlock { border: 1px solid #9c9494; display: flex; flex-direction: column;}
.bookBlockTop img {width:100%; height:100%; object-fit:contain;}
.bookBlockTop {height: 120px;
    background-color: #bd5252;
    padding: 8px;
    width: auto;
    flex: 0 0 auto;
    display: flex;}
.bookBlockBottom { padding:8px 16px; background-color:#9c9494; display: flex; flex-direction: column; flex:1 1 auto;}
.bookBlockBottom div { padding: 5px 2px; font-size: 16px; line-height: 15px;}
.bookBlockBottom .bookTitle{ font-weight: 500; font-size: 16px; color: #000;}
.bookBlockBottom .bookDesc{ display: block; color: dimgray; font-size: 14px; max-width: 98%; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;}
.buyBtn button { background-color: #bd5252;  width: 100%; border: none; padding: 8px; color:  #ffffff; cursor: pointer}
.buyBtn button:focus { outline: none;}

.bookViewBlock {display: flex; align-items: flex-start; padding: 16px 24px;
    height: inherit;}
.bookViewAvatar {display: flex; flex:0 0 auto; align-items: center; justify-content: center;}

.bookAvatarBlock {background-color: #bd5252;}
.bookAvatarBlock.lg {width:256px; height:256px; }
.bookAvatarBlock.sm {width:120px; height:120px; }
.bookAvatarBlock img {width:100%; height: 100%; object-fit: contain;}
.bookViewDetails {display: flex; flex:1 1 auto; margin-left: 16px;}
.bookViewInfo {display: flex; flex-direction: column;}
.bookViewInfo h2 {font-size: 24px; font-weight: 400; color:#000; margin:0 0 8px 0;}
.bookViewInfo h3 {font-size: 16px; font-weight: 400; color:#000; margin:0 0 8px 0;}
.bookViewInfo p {margin:0; padding: 0; color:rgba(0,0,0,0.54); margin:2px 0; font-size:14px; margin:6px 0;}
.bookViewActions {display: flex; align-items: center; margin-top: 8px;}
.bookViewActions button {margin-right:16px; min-width: 84px; border-radius: 4px;  outline:none; padding:12px 10px; color:#fff; box-shadow: none; border: none;}
.bookViewActions a:last-child {margin-right:0;}
.primaryBtn:hover {background-color: #9f3d3d; cursor: pointer;}
.primaryBtn {background-color: #bd5252;}
.defaultBtn {background-color: #9c9494;}
.disabledBtn {background-color: #cccccc; cursor: default;}
.defaultBtn:hover {background-color: dimgray; cursor: pointer;}
.mrgRight {margin-right:16px;}
.bookPrice {color:#bd5252 !important; font-size: 16px !important; font-weight: 550;}

.bookDescBlock {margin-top: 16px; background-color: #fcf7f7; padding:16px;}
.bookDescBlock h3 {margin:0; font-size:16px; color:#000; margin:0 0 8px 0; font-weight: 400;}
.bookDescBlock p {margin:0; font-size:14px;}



/**** MY Orders ****/
.borderCardBlock {display: flex; flex-direction: column; padding:16px;}
.bookOrderCard {display: flex; flex-direction: column; border:1px solid rgba(0,0,0,0.12); box-shadow: 0px 3px 2px rgba(0,0,0,0.15); margin-bottom: 16px;}
.bookOrderHeader {display: flex; background-color: #fcf7f7; align-items: center; padding:8px 0;}
.bookOrderHeader p {margin:0;}
.bookOrderDetails {display: flex; padding:16px;}
.bookOrderView {display: flex; margin-left:16px;}
.statusDelivered {color:#4a934a; margin-left: 8px;}
.bookOrderView>.bookViewInfo {align-items: flex-start;}
.orderStatus { display: flex; align-items: center; justify-content: center;}

/****** Cart *****/
.cartInfoBlock {display: flex; flex:1; margin:0 16px;}
.cartFormBlock {display: flex; flex-direction: column; width: 100%;}
.cartSelectedBooks {display: flex;background-color: #fcf7f7; width:100%; min-height: 16px; padding:16px;}
.cartSummary {display: flex; flex-direction: column; width: 100%;}
.cartPageHeading {font-size: 20px; font-weight: 500;}
.cartSelectedBooks {display: flex; flex-direction: column;}
.cartSelectedBookItem {display: flex; align-items: center;margin-bottom: 8px; }
.cartSelectedBookItem .bookImg{width:40px; height:40px; flex:0 0 auto; display:flex;}
.bookImg img{width:100%; height:100%; object-fit: contain;}
.bookName {display: flex; flex:1 1 auto; margin-left: 16px;}
.cartSelectedBooks h3 {font-size:16px; font-weight: 400; margin:8px 0;}
.cartPaymentInfo {display: flex; flex-direction: column;}
.cartPaymentInfo .cartItem{ display: flex; align-items: center; justify-content: space-between;}
.cartItem p:first-child {color: rgba(0,0,0,0.54);}
.totalPrice {border-top: 1px solid rgba(0,0,0,0.12);}
.totalPrice .totalCount {color:#bd5252;}
.error{ color: red}


.fullWidth {width: 100%;}
.width50 {width:50%;}
.custonInputField {margin-bottom: 8px; display: flex;}
.custonInputField input {padding: 12px 8px; background-color: #fcf7f7; border:1px solid rgba(0,0,0,0.05);}
.custonInputField select {padding: 12px 8px; background-color: #fcf7f7; border:1px solid rgba(0,0,0,0.05);}

/**** TAblet ****/
@media (min-width: 768px) and (max-width: 1024px) {
    .bookViewBlock {flex-direction: column;}
    .bookViewDetails {margin-left:0; margin-top: 16px;}
    .bookViewInfo {align-items: center;}
    .bookOrderHeader {flex-direction: column; align-items: flex-start;}
    .bookAvatarBlock.sm {width:80px; height:80px; }
    .cartInfoBlock {width: 100%; margin:16px 0;}
    .bookBlockWrapper {margin: 16px 8px; width: calc(33.33% - 24px);}
}

/*** Mobile ****/
@media (min-width: 320px) and (max-width: 767px) {
    .bookViewBlock {flex-direction: column; align-items: center;}
    .bookViewDetails {margin-left:0; margin-top: 16px;}
    .bookViewInfo {align-items: center;}
    .bookBlockWrapper {margin: 16px 8px; width: calc(50% - 24px);}
    .bookOrderHeader {flex-direction: column; align-items: flex-start;}
    .bookAvatarBlock.sm {width:80px; height:80px; }
    .cartInfoBlock {width: 100%; margin:16px 0;}
}