* {box-sizing: border-box;}

html, body { 
  height:100%;
}
#root{
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

..mainContainer { width: 100%; padding: 20px; border: 1px solid green; height: calc(100vh - 52px); overflow-y: auto;}
